<app-create></app-create>
<br>
<br>
<div class="container" #container>

  <!--<a href="#" routerLink="/post/create/" class="btn btn-success">Create New Post</a>-->

  <table class="table">
    <thead>
    <tr>
      <th class="text-center">ItemName</th>
      <th class="text-center">ItemSellingPrice</th>
      <th class="text-center">ItemBuyingPrice</th>
      <th class="text-center">AvailableStatus</th>
      <th class="text-center" width="250px">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td class="align-middle text-center ">{{ post.itemName }}</td>
      <td class="align-middle text-center">{{ post.itemSellingPrice }}</td>
      <td class="align-middle text-center">{{ post.itemBuyingPrice }}</td>
      <td class="align-middle text-center">{{ post.isItemAvailable }}</td>
      <td>
        <a href="#" [routerLink]="['/post/', post.id, 'view']" class="btn btn-secondary m-1">View</a>
        <a href="#" [routerLink]="['/post/', post.id, 'edit']" class="btn btn-secondary m-1">Edit</a>
        <button type="button" (click)="deletePost(post.id)" class="btn btn-secondary m-1">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="totalElements"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination>
</div>


