/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.success-message {
  background-color: #c6d6c7;
  color: #393c2f;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #393c2f;
  border-radius: 5px;

}
